[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"

[packages]
pytest = "*"
pycodestyle = "*"
pylint = "*"
rope = "*"
flask = "*"
flask-sqlalchemy = "*"
alembic = "*"
flask-migrate = "*"
python-dotenv = "*"
sqlalchemy = "*"
wtforms = "*"
flask-wtf = "*"
