#footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(22, 22, 22);
    position: absolute;
    bottom: 0px;
    height: 75px;
    width: 100%;
    gap: 10%;
    border-top: 1px solid darkgrey;
}

#footer-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    align-items: center;
}

#footer-info>h2, ul, li{
    color: white;
    list-style: none;
}