/* TODO Add site wide styles */

html {
  background-color: rgb(5, 5, 5);
  margin: 0px !important;
  padding: 0px !important;
  font-family: "Gordita", Helvetica, Arial, Verdana, sans-serif;
}

#root {
  min-height: 100vh;
}

body {
  color: white;
  margin: 0px !important;
  padding: 0px !important;
}

div {
  margin: 0px;
  padding: 0px;
}

ul {
  list-style: none;
  padding: none !important;
  margin: none !important;
}

#modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
}

#modal-content > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#modal-content > form > input {
  background-color: rgb(24, 26, 27);
  border-radius: 5px;
  color: lightgrey;
  margin: 5px;
  border: lightgrey 2px solid;
  padding: 10px;
  padding-right: 150px;
  font-family: "Belanosima", serif;
  font-size: large;
}

#modal-content > form > button,
#modal-content > button {
  border: white solid 3px;
  padding: 10px;
  width: fit-content;
  font-family: "Belanosima", serif;
  font-size: medium;
}

#modal-content > #noDelete {
  background-color: #f44a07;
  background-color: grey;
}

#modal-content > form > button:hover,
#modal-content > button:hover {
  cursor: pointer;
}

#modal-content > form > button:disabled,
#modal-content > button:disabled {
  background-color: grey;
}

#modal-content > #demoButton:hover {
  cursor: pointer;
}

img {
  object-fit: cover;
}

h1 {
  font-size: 24px;
  margin: 0px;
  padding: 0px;
  color: white;
}

h2 {
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  color: white;
}

h3 {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

button {
  cursor: pointer;
  background-color: rgb(206, 206, 206);
  font-size: medium;
  border: none;
  padding: 5px;
  border-radius: 5px;
  /* background-color: #FF9C75; */
  /* visibility: hidden; */
}

button:hover {
  background-color: #f44a07;
}

#checkout{
  margin-bottom: 10px;
  margin-top: 10px;
}

#emptyCart{
  display: flex;
  flex-direction: column;
}

.emptyCartButt{
  margin: 5px;
  padding: 10px;
}

/* FOOTER */

#footer-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 22, 22);
  height: 75px;
  width: 100%;
  gap: 10%;
  border-top: 1px solid darkgrey;
  margin-top: 30px;
}

#footer-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1em;
  align-items: center;
  /* border: 1px solid red; */
}

#footer-list > li {
  cursor: pointer;
}

#footer-info > h2,
ul,
li {
  color: white;
  list-style: none;
}
