.hidden {
  display: none
}


#nav_links_container{
  height: 75px;
  background-color: rgb(22, 22, 22);
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid darkgrey;
  z-index: 4;
}

#loginButtons>button {
  background: none;
  border: none;
  color: white;
  font-family: 'Belanosima', serif;
  font-size: x-large;
  padding: 20px;
}

#modal-content {
  background-color: rgb(24, 26, 27);
}

#userButtons {
  display: flex;
  align-items: center;
}

#userButtons>a {
  margin-right: 20px;
  font-size: large;
}

#profileDrop {
  margin-right: 20px;
  background: none;
  border: none;
  font-family: 'Belanosima', serif;
  font-size: xx-large;
  color: white;
}

.profile-dropdown {
  background-color: rgb(24, 26, 27);
  list-style-type: none;
  margin-top: 0px;
  padding-left: 0px;
  position: absolute;
  right: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(140, 130, 115);
  border-image: initial;
}

.profile-dropdown>li {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logOut {
  background: none;
  border: none;
  font-family: 'Belanosima', serif;
  color: white;
}

#logOut:hover {
  cursor: pointer;
}

#logOutLi {
  border-top: 1px solid;
  border-color: rgb(140, 130, 115);
  margin-left: 4px;
  margin-right: 4px;
  /* padding-left: -10px; */
}

#userButtons>a{
  color: rgb(245, 160, 85);
}

#dropNavs{
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  border-top: 1px solid;
  margin-left: 4px;
  margin-right: 4px;
}

#dropNavs>a{
  color: white;
  margin-top: 10px;
  text-decoration: none;
}

.navi-icons {
  display: flex;
  justify-content: space-between;
  gap: 2em;
  align-items: center;
  margin: 0px 0px;
  width: 1700px;
}

#shop-link{
  padding-right: 70%;
}

#shop-link>a{
  color: white;
  text-decoration: none;
}

#home-link>a{
  color: white;
  text-decoration: none;
}

.see-cart-modal>button{
  background-color: transparent;
  border: none;
}
