
/* PRODUCT DETAILS COMPONENT */

#product_details_main_content_container{
    display: flex;
}

#product_details_images_container{
    flex-basis: 60%;
}

#product_details_main_image>img{
    width: 100%;
}

#product_details_other_images_container{
    display: flex;
    width: 50%;
    gap: 10px;
}

#product_details_other_images_container>img{
    flex: 1;
    width: 50%;
}

#product_details_product_main_info{
    flex-basis: 40%;
}

#switch-view-container {
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
}

/* REVIEWS COMPONENT */

#product-review-details-overview-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}

#single-review {
    border: 1px solid red;
    display: flex;
}
