#category_card_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
    background-color: rgb(22, 22, 22);
    border-radius: 1em;
}

#category_card_image_container{
    width: 400px;
    height: 400px;
    overflow: hidden;
}


#category_image{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    width: 100%;
    height: 100%;
}

#category_name_h3{
    margin: 1em;
}