#product-form-container {
  width: 400px;
}

#product-form-h3 {
  text-align: center;
  border-bottom: 1px solid lightgray;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

#product-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.product-form-field {
  display: flex;
}

.product-form-label {
  width: 175px;
}

.product-form-input {
  width: 60%;
}

.product-large-label {
  width: 100%;
}

#product-product-description-field {
  width: 100%;
}

#product-form-price-label {
  display: flex;
  align-items: center;
}

#form-dollar-sign {
  margin-bottom: 0.5em;
}

#product-button-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  width: 100%;
}
