#all-product-container{
    width: 1025px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: auto;

}

.all-product-image{
    aspect-ratio: 1/1;
    height: 300px;
}

.product-index-link {
    color: white;
    text-decoration: none;
}
